{##NOTE - This iterates over all the nodes, and child nodes, children, hopefully#}
{{'\t'*ns.indent}}{{object.key}} = {
    {% set ns.indent = ns.indent + 1 %}
    {% for child in object.nodes %}
        {% include "inner_line_compiler.txt.jinja" with object=child %} {#<=Secret sauce#}
    {% endfor %}
    {% set ns.indent = ns.indent - 1 %}
{{'\t'*ns.indent}}}