{% if isinstance(GenericBlock, object )%}
    {% set ns.indent = ns.indent + 1 %}
    {{'\t'*ns.indent}}{% include "GenericBlock.txt.jinja" with context %}
{% elif isinstance(GenericKeyValue, object )%}
    {{'\t'*ns.indent}}{{object.key}} = {{object.value.value}}
{% elif isinstance(GenericComparator, object) %}
    {{'\t'*ns.indent}}{{ object.left }} {{ object.operator }} {{ object.right }}
{% else %}
    {{'\t'*ns.indent}}{{ object.value }}
{% endif %}
{{\n}}