{##NOTE - This iterates over all the nodes, and child nodes, children, hopefully#}
{{'\t'*ns.indent}}{{pdx_object.key}} = {
    {% set ns.indent = ns.indent + 1 %}
    {% for child in pdx_object.nodes %}
        {% include "inner_line_compiler.txt.jinja" with pdx_object=child %}
    {% endfor %}
    {% set ns.indent = ns.indent - 1 %}
{{'\t'*ns.indent}}}