{% macro render_node(node, ns, GenericNode, GenericBlock, GenericKeyValue) %}
{%- if isinstance(node, GenericBlock) %}
{{- '\n'}}{{ '\t' * ns.indent }}{{ node.key }} = {{ "{" }}
    {%- set ns.indent = ns.indent + 1 %}
    {%- for child in node.nodes %}
{{ render_node(child, ns, GenericNode, GenericBlock, GenericKeyValue) }}
    {%- endfor %}
    {%- set ns.indent = ns.indent - 1 %}
{{- '\t' * ns.indent }}}
{%- elif isinstance(node, GenericKeyValue) %}
{{- '\n'}}{{ '\t' * ns.indent }}{{ node.key }} = {{ node.value._get_value() }}
{%- elif isinstance(node, GenericNode) %}
{{- '\n'}}{{ '\t' * ns.indent }}{{ node._get_value() }}
{%- endif %}
{% endmacro %}